name: Build PDF

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

  workflow_dispatch:

env:
  ACTIONS_RUNNER_DEBUG: false

jobs:
  build-pdf:
    uses: kolosovpetro/github-latex-template/.github/workflows/build-pdf-template.yml@main
    with:
      file_name: 'latex-beamer-template'
      enable_patch_version: true
      runs_on: 'ubuntu-latest'
      workflow_name: 'Build PDF'
      build_assets_path: |
        src/latex-beamer-template.tex
        src/latex-beamer-template.bbl
        src/latex-beamer-template.bib
        src/images
        src/slides
        src/metadata
      working_directory_for_latex: 'src'
